@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(163, 163, 255), #fafaad);
}

main{
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(172, 172, 120, 0.726)
    
}
p {
    text-align: justify;
}

h1{
    color: rgb(122, 10, 10);
    text-shadow: 1px 1px 1px rgb(190, 189, 119);
}

h2{
    color: rgb(5, 150, 5);
}